/* Custom Carousell css */
#documentoryCarousel {
  height: 100%;
  margin-bottom: 60px;
  margin-top: 50px;
}

.carousel .item {
  max-width: 100%;
  width: 1140px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
  margin-bottom:30px;
}

.carousel-indicators {
  bottom:-30px;
}


.carousel .carousel-indicators li {
    background-color: darkgray;
}

.carousel .carousel-indicators li.active {
    background-color: dimgray;
}


.carousel-control {
    top: 34%;
    width:90px;
    height: 54%;
}

.shadowBackground{
    border: 3px solid #fff;
    border-color: hsla(0, 0%, 0%, 0.9);
    border-radius: 3px;
}

/*Picture Gallery css */
.galleryContainer{
    clear:both;
    margin-top: 30px;
    margin-left: 10%;
    width:80%;
    border: 3px solid #fff;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 3px;
}

.moreVideos{
    margin: 200px auto 0;
    max-width: 100%;
    /*
    border: 3px solid #222;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 3px; */
}

.moreVideos:hover{
background-color: #222;
}

.photoTumbnail{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    display: block;
    
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(0,0,0,.50);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.photo-box{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.photo-box-caption{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(0,0,0,.50);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s;
}

.photo-box:hover .photo-box-caption {
    opacity: 97;
    cursor: pointer;
}

.portfolio-box:hover {
    cursor: pointer;
}

.modalPicture img{
    width:100%;
    Height:100%;
    display:block;
    margin:auto;
}

.aboutContent{
 position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/photography/shadowsAndLight.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    /*Bluring effect for background image if needed 
  display: block;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  left: 0;
  right: 0;
  z-index: 1;
    */
}

.imgWhiteBorder{
    margin: 0 auto;
    border: 7px solid #fff;
    width: 80%;
}

/* Contact Section */
section#contact {
    
}


section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}